{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludoteca Duoc</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <script src="https://kit.fontawesome.com/25ac30d53f.js"></script>
    
</head>

<body>

    <h1>Mi Carrito</h1>

    {% for item in carrito_productos %}
    <div class="item">
        <h2>{{ item.producto.nombreProducto }}</h2>
        <p>{{ item.producto.descripcionProducto }}</p>
        <p class="precio">Precio: ${{ item.producto.precioProducto }}</p>
        <p>Cantidad: {{ item.cantidad }}</p>
        <!-- Botón de Quitar -->
        <form method="post" action="{% url 'quitar_del_carrito' item.producto.idProducto %}" onsubmit="myButton.disabled = true; return true;">
            {% csrf_token %}
            <button type="submit" id="myButton">Quitar</button>
        </form>
        <!-- Botón de Agregar -->
        <form method="post" action="{% url 'agregar_al_carrito' item.producto.idProducto %}" onsubmit="myButton2.disabled = true; return true;">
            {% csrf_token %}
            <button type="submit" id="myButton2">Agregar</button>
        </form>
    </div>
{% endfor %}




    <div class="button-container">

        {% if user.is_superuser %}
            <a href="{%  url 'panel_moderacion' %}"><button>PANEL ADMIN</button></a>
            <a href="{%  url 'panel_productos' %}"><button>PRODUCTOS</button></a>
        {% endif %}
    
        {% if user.is_authenticated %}
            <div>
                <a href="{%  url 'editarperfil' %}"><button>Editar Cuenta</button></a>
                <a href="{% url 'cerrar_sesion' %}"><button>Cerrar sesión</button></a>
                <h3 style="margin-left: 10px;">¡Bienvenido {{ user.username }}!</h3>
            </div>
        {% else %}
            <a href="{%  url 'reg_clientes' %}"><button>Crear Cuenta</button></a>
            <a href="{%  url 'iniciar_sesion' %}"><button>Iniciar Sesión</button></a>
        {% endif %}
    </div>









</body>

<li class="navbar-item"><a href="{%  url 'home' %}" class="navbar-link"><i class="fas fa-home"></i> Inicio</a></li>


{% comment %} <footer class="footer">
    <p>@Todos los derechos reservados</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/DuocUC/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/DuocUC"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/duocuc_cl/"><i class="fab fa-instagram"></i></a>
    </div>
</footer> {% endcomment %}

</html>
