{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludoteca Duoc</title>

    <link rel="stylesheet" href="{% static '/css/carrito-style.css' %}">

    <script src="https://kit.fontawesome.com/25ac30d53f.js"></script>
    
</head>

<body>

    <h1>Mi Carrito</h1>

    {% for item in carrito_productos %}
    <div class="item">
        <h2>{{ item.producto.nombreProducto }}</h2>
        <p>{{ item.producto.descripcionProducto }}</p>
        <p class="precio">Precio: ${{ item.producto.precioProducto }}</p>
        <p>Cantidad: {{ item.cantidad }}</p>
        <div class="botones">
            <!-- Botón de Quitar -->
            <form method="post" action="{% url 'quitar_del_carrito' item.producto.nombreProducto %}" onsubmit="myButton.disabled = true; return true;">
                {% csrf_token %}
                <button type="submit" id="myButton">Quitar</button>
            </form>
            <!-- Botón de Agregar -->
            <form method="post" action="{% url 'agregar_al_carrito' item.producto.nombreProducto %}" onsubmit="myButton2.disabled = true; return true;">
                {% csrf_token %}
                <button type="submit" id="myButton2">Agregar</button>
            </form>
        </div>
    </div>
    {% empty %}
    <p>No hay productos en el carrito.</p>
    {% endfor %}
    
    <!-- Total -->
    <p class="total">Total: ${{ total }}</p>
    
    <!-- Botón de Realizar Compra -->
    <form method="post" action="{% url 'realizar_compra' %}">
        {% csrf_token %}
        <button type="submit" {% if not carrito_productos %}disabled{% endif %}>Realizar Compra</button>
    </form>

    <!-- Botón de Inicio -->
    <div class="boton-inicio-container">
        <a href="{%  url 'home' %}" class="navbar-link boton-inicio"><i class="fas fa-home"></i> Inicio</a>
    </div>

</body>

{% comment %} <footer class="footer">
    <p>@Todos los derechos reservados</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/DuocUC/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/DuocUC"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/duocuc_cl/"><i class="fab fa-instagram"></i></a>
    </div>
</footer> {% endcomment %}

</html>