{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludoteca Duoc</title>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">

    <script src="https://kit.fontawesome.com/25ac30d53f.js"></script>
    
</head>

<body>

    <h1>Mi Carrito</h1>

    {% for carrito_producto in carrito_productos %}
    <div>
        <img src="{{ carrito_producto.producto.imagenProducto.url }}" alt="{{ carrito_producto.producto.nombreProducto }}">
        <h2>{{ carrito_producto.producto.nombreProducto }}</h2>
        <p>Cantidad: {{ carrito_producto.cantidad }}</p>
        <p>Precio: ${{ carrito_producto.producto.precioProducto }}</p>
    </div>
{% empty %}
    <p>No tienes productos en tu carrito.</p>
{% endfor %}



    <div class="button-container">

        {% if user.is_superuser %}
            <a href="{%  url 'panel_moderacion' %}"><button>PANEL ADMIN</button></a>
            <a href="{%  url 'panel_productos' %}"><button>PRODUCTOS</button></a>
        {% endif %}
    
        {% if user.is_authenticated %}
            <div>
                <a href="{%  url 'editarperfil' %}"><button>Editar Cuenta</button></a>
                <a href="{% url 'cerrar_sesion' %}"><button>Cerrar sesión</button></a>
                <h3 style="margin-left: 10px;">¡Bienvenido {{ user.username }}!</h3>
            </div>
        {% else %}
            <a href="{%  url 'reg_clientes' %}"><button>Crear Cuenta</button></a>
            <a href="{%  url 'iniciar_sesion' %}"><button>Iniciar Sesión</button></a>
        {% endif %}
    </div>









</body>

<li class="navbar-item"><a href="{%  url 'home' %}" class="navbar-link"><i class="fas fa-home"></i> Inicio</a></li>


<footer class="footer">
    <p>@Todos los derechos reservados</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/DuocUC/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/DuocUC"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/duocuc_cl/"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

</html>
