{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludoteca Duoc - cooperativo</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://kit.fontawesome.com/25ac30d53f.js"></script>

</head>


<div class="button-container">

    {% if user.is_superuser %}
<a href="{%  url 'panel_moderacion' %}">
    <button class="admin-button">USERS ADMIN</button>
</a>
<a href="{%  url 'panel_productos' %}">
    <button class="admin-button">PRODUCTOS ADMIN</button>
</a>
<a href="{%  url 'panel_pedidos' %}">
    <button class="admin-button">PEDIDOS ADMIN</button>
{% endif %}

    {% if user.is_authenticated %}
        <div>
            <a href="{%  url 'ordenes_compra' %}"><button>Mis compras</button></a>
            <a href="{%  url 'carrito_compras' %}"><button>Carrito de compra</button></a>
            <a href="{%  url 'editarperfil' %}"><button>Editar Cuenta</button></a>
            <a href="{% url 'cerrar_sesion' %}"><button>Cerrar sesión</button></a>
            <h3 style="margin-left: 10px;">¡Bienvenido {{ user.username }}!</h3>
        </div>
    {% else %}
        <a href="{%  url 'reg_clientes' %}"><button>Crear Cuenta</button></a>
        <a href="{%  url 'iniciar_sesion' %}"><button>Iniciar Sesión</button></a>
    {% endif %}

</div>

        <!-- BARRA CATEGORIAS -->


    <img src="{% static 'Img/ludotecaduoc-logo.png' %}" alt="bibliotecaduoc" id="logo">

    <nav class="navbar">
        <ul class="navbar-list">
            <li class="navbar-item"><a href="{%  url 'home' %}" class="navbar-link"><i class="fas fa-home"></i> Inicio</a></li>
            <li class="navbar-item"><a href="{%  url 'familiar' %}" class="navbar-link">Familiar</a></li>
            <li class="navbar-item"><a href="{%  url 'eurogames' %}" class="navbar-link">Eurogames</a></li>
            <li class="navbar-item"><a href="{%  url 'deckbuilding' %}" class="navbar-link">DeckBuilding</a></li>
            <li class="navbar-item"><a href="{%  url 'solitarios' %}" class="navbar-link">Solitarios</a></li>
        </ul>
    </nav>

        <!-- PRODUCTOS -->


        <div class="container border-box">
        <h1>COOPERATIVO</h1>

        <!-- Arkham Horror: Carrito ok -->
        {% for producto in productos %}
    {% if producto.idProducto == 21 %}
        <div class="categoria">
            <div class="card-12 card-sm-6 card-md-4">
                <img src="{{ producto.imagenProducto.url }}" alt="{{ producto.nombreProducto }}">
                <div class="card-content">
                    <h2>{{ producto.nombreProducto }}</h2>
                    <p>{{ producto.descripcionProducto }}</p>
                    <p class="precio">Precio: ${{ producto.precioProducto }}</p>
                    <!-- Botón de Comprar -->
                    <form method="post" action="{% url 'agregar_al_carrito' producto.idProducto %}" onsubmit="myButton.disabled = true; return true;">
                        {% csrf_token %}
                        <button type="submit" id="myButton">Comprar</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}


        <!-- Pandemic: Carrito probando -->
        {% for producto in productos %}
    {% if producto.idProducto == 22 %}
        <div class="categoria">
            <div class="card-12 card-sm-6 card-md-4">
                <img src="{{ producto.imagenProducto.url }}" alt="{{ producto.nombreProducto }}">
                <div class="card-content">
                    <h2>{{ producto.nombreProducto }}</h2>
                    <p>{{ producto.descripcionProducto }}</p>
                    <p class="precio">Precio: ${{ producto.precioProducto }}</p>
                    <!-- Botón de Comprar -->
                    <form method="post" action="{% url 'agregar_al_carrito' producto.idProducto %}" onsubmit="myButton.disabled = true; return true;">
                        {% csrf_token %}
                        <button type="submit" id="myButton">Comprar</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endfor %}

        <!-- REDES SOCIALES -->

    {% comment %} <footer class="footer">
        <p>@Todos los derechos reservados</p>
        <div class="social-icons">
            <a href="https://www.facebook.com/DuocUC/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://twitter.com/DuocUC"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/duocuc_cl/"><i class="fab fa-instagram"></i></a>
        </div>
    </footer> {% endcomment %}

</body>


</html>
