{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>

    <!-- *** LIBRERIA DE ESTILOS (6.4.0 RECOMENDADA EN VIDEO DE CLASE *** -->
    <link rel="stylesheet" href="{% static '/css/forms-style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
        #avatar {
            width: 100px;
            height: 100px;
            object-fit: cover;
        }
    </style>

</head>
<body>

    <h1 id="title">Editar Perfil</h1>

    {% load static %}
    
    <form method="post" id="form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_first_name">Nombre</label>
        <input type="text" id="id_first_name" name="first_name" value="{{ user.first_name }}">
    </div>
    <div class="form-group">
        <label for="id_last_name">Apellido</label>
        <input type="text" id="id_last_name" name="last_name" value="{{ user.last_name }}">
    </div>
    <div class="form-group">
        <label for="id_avatar">Avatar actual</label>
        <img id="avatar" src="{{ user.userprofile.avatar.url }}" alt="Avatar actual">
        <label for="id_avatar">Cambiar avatar</label>
        <input type="file" id="id_avatar" name="avatar">
    </div>
    {% for field in form %}
    <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
    </div>
    {% endfor %}
    <button type="submit">Actualizar perfil</button>
</form>

    <a href="{% url 'home' %}" class="btn"><i class="fas fa-home"></i> Regresar a HOME</a>


</body>

</html>