{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ludoteca Duoc - cooperativo</title>
    <link rel="stylesheet" href="{% static '/css/panelformularios-adm.css' %}">
    <script src="https://kit.fontawesome.com/25ac30d53f.js"></script>

</head>

  <body>
    <img src="{% static '/Img/editar-paneladmin.png' %}" alt="DATABASE USUARIOS">
    <h3>Modificacion de usuario</h3>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  
    <div class="row">
        <form method="post" action="" id="form">
            {% csrf_token %}
            <div class="form-group">
                {{ form.as_table }}
            </div>

            <input type="submit" class="btn btn-danger" id="enviar" value="Modificar">
            <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
            <div id="error" class="alert alert-danger" role="alert"></div>
        </form>
    <div class="alert alert-success" role="alert">
        {{ mensaje }}
    </div>
</div> 

<a href="{% url 'home' %}" class="btn"><i class="fas fa-home"></i> Regresar a HOME</a>
<a href="{% url 'panel_moderacion' %}" class="btn"><i class="fas fa-home"></i> PANEL ADMIN</a>


</body>

</html>