{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RetroGames - Free To Play</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <script src="https://kit.fontawesome.com/25ac30d53f.js"></script>

</head>

<body>

{% block contenido %}

<h1>Muestra de usuarios</h1>

    <div class="container">
        <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope='col'>prueba</th>
                            <th scope='col'>email</th>
                            <th scope='col'>nombre</th>
                            <th scope='col'>apellido</th>
                            <th scope='col'>usuario</th>
                            <th scope='col'>contraseña</th>
                            <th scope='col'>direccion</th>
                            <th scope='col'>Opciones</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for usuario in usuarios %}
                        <tr>
                            <td>{{ forloop.counter }}</td> <!-- forloop.counter es una variable que lleva la cuenta de las iteraciones, en cada vuelta da un numero mas por tanto 1, 2, 3 a cada user -->
                            <td>{{ usuario.email }}</td>
                            <td>{{ usuario.nombre }}</td>
                            <td>{{ usuario.apellido }}</td>
                            <td>{{ usuario.nombreUsuario }}</td>
                            <td>{{ usuario.contrasena }}</td>
                            <td>{{ usuario.direccion }}</td>
                            <td><a href="{% url 'form_mod_usuario' usuario.email %}">Modificar</a></td> <!-- se agrega un link para modificar el usuario con el email como parametro -->
                            <td><a href="{% url 'form_del_usuario' usuario.email %}">Eliminar</a></td> <!-- idem, pero muestra el link para eliminar usuarios -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    
{% endblock contenido %}

<a class="dropdown-item" href="{%  url 'form_usuario' %}"><i class="fas fa-user"></i> Ver form_usuario para crear usuarios</a>

<a href="{% url 'home' %}" class="btn"><i class="fas fa-home"></i> Regresar a HOME</a>

<footer class="footer">
    <p>@Todos los derechos reservados</p>
    <div class="social-icons">
        <a href="https://www.facebook.com/DuocUC/"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/DuocUC"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/duocuc_cl/"><i class="fab fa-instagram"></i></a>
    </div>
</footer>

</body>

</html>