body {
    background-image: url('/static/Img/fondowebpale.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh; /* Cambiado de height a min-height */
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif; /* Añadido para cambiar la tipografía del cuerpo */
}

h1 {
    text-align: center;
    padding: 20px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.item h2 {
    margin: 0 0 10px;
}

.precio {
    color: #f00;
    font-weight: bold;
}

.botones {
    display: flex;
    gap: 10px;
}

.botones button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff0000; /* Cambiado a rojo */
    color: #fff;
    cursor: pointer;
}

.botones button:hover {
    background-color: #ff7f00; /* Cambiado a naranja al pasar el mouse */
}

.botones button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

form {
    text-align: center;
    margin-top: 20px;
}

form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff69b4; /* Cambiado a rosa */
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #87cefa; /* Cambiado a celeste al pasar el mouse */
}

form button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.navbar-item {
    list-style: none;
}

.navbar-link {
    text-decoration: none;
    color: #000;
}

.boton-inicio-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.boton-inicio {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.boton-inicio:hover {
    background-color: #45a049;
}

.total {
    text-align: center;
    font-size: 2em; /* Ajusta el tamaño del texto según sea necesario */
    margin-top: 20px;
}