body {
    background-color: #121212;
    color: #98FB98;
    font-family: Arial, sans-serif;
}

h3 {
    color: #98FB98;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#form {
    background-color: #232323;
    padding: 20px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #98FB98;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #353535;
    color: #98FB98;
}

.btn {
    color: #98FB98;
    background-color: #232323;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.btn:hover {
    background-color: #353535;
}

.alert {
    margin-top: 20px;
    padding: 20px;
    border-radius: 4px;
}

.alert-danger {
    background-color: #8B0000;
    color: #FFFFFF;
}

.alert-success {
    background-color: #006400;
    color: #FFFFFF;
}