
*{
    margin: 0;
    padding: 0;
}
    
body {
    background-image: url("/Img/fondowebpale.png");
    color: rgb(45, 45, 45); 
    background-color: rgb(174, 231, 255);
    background-size: cover;
    background-repeat: repeat;
    font-family: Arial, sans-serif; 
    text-align: center; 
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

img{
width: 280px;
height: 280px;
margin: 30px;
border-radius: 30px;    
}

p{
    font-size: 12px;
}

.border-box {
    box-sizing: border-box;
}

.container {
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
    padding: 20px; /* Espacio interno */
}
/* menu para mejor navegacion*/

/* BARRA DE NAVEGACION CON CATEGORIAS */
.navbar{
    background-color: #69a9f3;
    padding: 10px;
}

.navbar-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    float: left;
    margin-right: 10px;
}


.navbar ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

.navbar ul li {
    margin: 0 10px;
}

.navbar ul li a{
    color: #000000;
    text-decoration: none;
}

.navbar ul li a:hover{
    text-decoration: underline;
}

.categoria {
    margin-top: 40px; /* Margen superior */
    display: flex; /* Flexbox para diseño flexible */
    flex-wrap: wrap; /* Permitir envolver en varias líneas */
    justify-content: center;
    gap: 20px; /* Centrar elementos */
}

.card {
    background-color: #5e5c5c41; /* Color de fondo del contenedor de tarjeta */
    color: white; /* Color del texto */
    border-radius: 10px; /* Bordes redondeados */
    padding: 20px; /* Espacio interno */
    margin: 10px; /* Margen exterior */
    max-width: calc(50% - 20px); /* Ancho de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    display: flex; /* Flexbox para diseño flexible */
    flex: 1;
}

.card img {
    width: 150px; 
    height: 80%; /* Altura automática (mantener proporción) */
    border-radius: 8px; /* Bordes redondeados de la imagen */
    margin-right: 20px; /* Margen derecho */
    align-self: center;
}

.card-content {
    flex: 1; /* Toma el espacio restante */
    display: flex; /* Flexbox para diseño flexible */
    flex-direction: column; /* Dirección de apilamiento */
    justify-content: space-between; /* Distribuir el espacio entre los elementos */
}

.card h2 {
    font-size: 24px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
}

.card p {
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 10px; /* Margen inferior */
}


.precio {
    font-size: 18px; /* Tamaño de fuente */
    font-weight: bold; /* Texto en negrita */
}

.button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
}

/* Botón para comprar*/
button {
    background-color: #fd2424; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 15px 32px; /* Ajusta el padding del botón */
    text-align: center; /* Centra el texto del botón */
    text-decoration: none; /* Elimina la decoración del texto del botón */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Cambia el cursor a un puntero al pasar sobre el botón */
}

/* Cambia el color de fondo del botón comprar al pasar el cursor sobre él */
button:hover {
    background-color: #ff6348; /* Color de fondo del botón al pasar el cursor sobre él */
    color: white; /* Color del texto del botón al pasar el cursor sobre él */
}

.button-container button {
    margin-left: 10px;
    background-color: rgb(118, 191, 247);
    color: rgb(57, 57, 57);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: yellow;
}

/* Mover el logo a la izquierda */
#logo {
    display: block;
    margin-right: auto;
}

/* FOOTER (Parte inferior e iconos de redes) */
.footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #6d90f7;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: auto;
    
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-icons i {
    font-size: 24px;
}
