body {
    background-image: url('/static/Img/fondowebpale.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* Estilos para los botones */
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    margin: 20px; /* Agrega margen alrededor del contenedor de botones */
}

.button-container a {
    margin-right: 20px; /* Agrega margen a la derecha del enlace */
}

.button-container a:last-child {
    margin-right: 0; /* Elimina el margen derecho del último enlace */
}

.button-container button {
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 1.2em; /* Aumenta el tamaño del texto del botón */
    background-color: #f78a9c; /* Nuevo color rosa */
    color: rgb(255, 255, 255); /* Cambia el color del texto a blanco */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Agrega sombra al botón */
    margin-right: 10px; /* Agrega margen a la derecha del botón */
}

.button-container button:last-child {
    margin-right: 0; /* Elimina el margen derecho del último botón */
}

.button-container button:hover {
    background-color: #99d7fe; /* Cambia el color de fondo a celeste cuando se pasa el cursor por encima */
}

/* Estilos para el logo */
#logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: auto;
}

/* Estilos para la barra de navegación */
.navbar {
    background-color: #f78a9c; /* Color rosa para la barra de navegación */
    padding: 10px 0;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.navbar-item .navbar-link {
    text-decoration: none;
    color: #333;
    font-size: 1.2em; /* Aumenta el tamaño de la fuente */
}

.navbar-item .navbar-link:hover {
    color: #fafafa; /* Color celeste cuando se pasa el mouse por encima */
}

/* Estilos para el pie de página */
/* Estilos para el pie de página */

/* Estilos para el pie de página */

/* Estilos para el pie de página */
/* Estilos para el pie de página */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ffffff; /* Color rosa para el pie de página */
    padding: 10px 0;
    text-align: center;
}

footer .social-media {
    display: flex;
    justify-content: center;
    gap: 100px; /* Aumenta la separación entre los íconos de las redes sociales */
}

footer .social-media a {
    color: white;
    font-size: 2em; /* Aumenta el tamaño de los íconos de las redes sociales */
}

footer .social-media a:hover {
    color: #fafafa;
}

/* Estilos para las imágenes que rotan */
.rotating-images {
    width: 400px; /* Establece el ancho de las imágenes */
    height:300; /* Establece la altura de las imágenes */
    object-fit: cover; /* Asegura que las imágenes se redimensionen para llenar el contenedor sin distorsionarse */
}